
<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <label for="currencyFrom">currencyFrom: </label>

  <select formControlName="currencyFrom">
      <option value="">Choose a currency</option>
      <option *ngFor="let currency of currencies$ | async | keyvalue" [ngValue]="currency.key">
        {{currency.value}} ({{ currency.key }})
    </option>
  </select>

  <label for="currencyTo">currencyTo: </label>
  <select formControlName="currencyTo" id="currencyTo">
      <option value="">Choose a currency</option>
      <option *ngFor="let currency of currencies$ | async | keyvalue" [ngValue]="currency.key">
        {{currency.value}} ({{ currency.key }})
    </option>
  </select>

  <label for="currencyAmount">currencyAmount: </label>
  <input id="currencyAmount" type="text" formControlName="currencyAmount">

  <button type="submit" [disabled]="form.invalid || form.disabled">Submit</button>

</form>
