<div class="container">
  <div class="row">
    <div class="col-sm">
      <h1>Currency Exchange</h1>
      <p>Exchange between different currencies</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <app-exchange-form [disabled]="loading" (onFormSubmit)="onSubmit($event)" [recommendationSelection]="recommendationSelection$"></app-exchange-form>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <ng-container *ngIf="results">
        <div class="card">
          <div class="card-body">
            <app-exchange-results [results]="results" [inputs]="lastInputs"></app-exchange-results>
          </div>
        </div>
      </ng-container>
    </div>

    <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <app-currency-recommendations (onSelectRecommendation)="onSelectRecommendation($event)"></app-currency-recommendations>
          </div>
        </div>
    </div>

    <div class="col-sm-12 col-lg-12" *ngIf="(exchangeHistory$ | async)?.length">
      <div class="card">
        <div class="card-body">
          <app-exchange-history [exchangeHistory]="exchangeHistory$" (onExchangeAgain)="onExchangeAgain($event)"></app-exchange-history>
        </div>
      </div>
  </div>

  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Error</h4>
  </div>
  <div class="modal-body">
    <p>Please try again later!</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close()">Close</button>
  </div>
</ng-template>
