<div class="container">
  <div class="row">
    <div class="col-sm">
      <h1>Currency Exchange</h1>
      <p>Exchange between different currencies</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <app-exchange-form [disabled]="loading" (onFormSubmit)="onSubmit($event)"></app-exchange-form>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <ng-container *ngIf="results">
        convertedAmount: {{results.convertedAmount}}<br />
        directConversionEstimate: {{results.directConversionEstimate}}<br />
        wasConvertedThroughEur: {{results.wasConvertedThroughEur}}
      </ng-container>
    </div>
  </div>
</div>
